<div class='col-lg-12 navbar navbar-default navbar-static-top'>
  <a href='/' class='navbar-brand'>Robot World</a>
</div>
 <div class="container">
  <div class='row well'>
    <div class='col-md-6'>
      <h2>Domo Arigato Mr.Roboto</h2>
      <p>Welcome to Robot World.  In today's society robots are desired not only as unbelievably efficient aids, but, more importantly, as caring friends.  We here at Robot World believe that ypur socio-economic status should not deterimine your access to compatible, beautifully customized robots.  Now I'm just writing more words to fill up the space so yeah... I almost wish we were butterflies and liv'd but three summer days, three such days with you I could fill with more delight than fifty common years could ever contain. </p>
        <a class="btn btn-success" href="/robots" role="button">Robot Index</a>
        <a class="btn btn-info" href="/robots/new" role="button">Hire New Robot</a>
      </div>

      <div class='col-md-6'>
        <img src="http://cdn.paper4pc.com/images/walle-wallpaper-10.jpg" class="img-responsive" alt="Responsive image" class='center-block'>
      </div>
    </div>
  </div>
