<div class='col-lg-12 navbar navbar-default navbar-static-top'>
  <a href='/' class='navbar-brand'>Robot World</a>
</div>

<form action="/robots/<%= @robot.id %>" method="post">
  <p> Edit </p>
  <input type="hidden" name="_method" value="PUT">
  <p> name: </p><input type='text' name='robot[name]'/><br/>
  <p> city: </p><input type='text' name='robot[city]'/><br/>
  <p> state: </p><input type='text' name='robot[state]'/><br/>
  <p> avatar: </p><input type='text' name='robot[avatar]'/><br/>
  <p> birthdate: </p><input type='text' name='robot[birthdate]'/><br/>
  <p> date_hired: </p><input type='text' name='robot[date_hired]'/><br/>
  <p> department: </p><input type='text' name='robot[department]'/><br/>
  <input type="submit">
</form>
